html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  --text: #78797f;
  --white-text: white;
  --dark-bg: #292b2f;
  --light-bg: #36393f;
  --bg: #2f3136;
  --light-text: #bebdc0;
  --header-text: #96989d;
  --header-text-light: #d2ddde;
  --dark-bg: #202225;
  background-color: var(--dark-bg);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
